Viết code numpy, tìm model linear regression cho bai toán dữ đoán giá nhà, dataset: https://www.kaggle.com/prasadperera/the-boston-housing-dataset

In [63]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
data = pd.read_csv("/content/housing (1).csv")
data.head

<bound method NDFrame.head of         CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO  B-1000  LSTAT  MEDV
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>

In [45]:
data.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B-1000', 'LSTAT', 'MEDV'],
      dtype='object')

In [46]:
X = data[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B-1000', 'LSTAT']]

In [47]:
A = pd.Series([1 for i in range(len(X[['CRIM']]))])

In [48]:
X = X.assign(col = A)

In [49]:
X[['CRIM']] , X[['col']] = X[['col']],X[['CRIM']]

In [50]:
X.head(n=3)

   CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO  B-1000  LSTAT      col
0     1  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  0.00632
1     1   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  0.02731
2     1   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  0.02729

[3 rows x 14 columns]

In [52]:
t = data[['MEDV']]
t.head(n=2)

   MEDV
0  24.0
1  21.6

In [53]:
X = X.to_numpy()

In [55]:
X_T = X.transpose()
w = (np.linalg.inv(X_T.dot(X)))
w = w . dot(X_T)
w = w. dot(t)
w

array([[ 3.64594884e+01],
       [ 4.64204584e-02],
       [ 2.05586264e-02],
       [ 2.68673382e+00],
       [-1.77666112e+01],
       [ 3.80986521e+00],
       [ 6.92224640e-04],
       [-1.47556685e+00],
       [ 3.06049479e-01],
       [-1.23345939e-02],
       [-9.52747232e-01],
       [ 9.31168327e-03],
       [-5.24758378e-01],
       [-1.08011358e-01]])

In [61]:
def dubao(x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13):
  dubao = x1*w[1,0] + x2*w[2,0] +x3*w[3,0] +x4*w[4,0]+  x5*w[5,0]+x6*w[6,0] + x7*w[7,0] + x8*w[8,0]\
       + x9*w[9,0]+ x10*w[10,0]+ x11*w[11,0] + x12*w[12,0] + x13*w[13,0] + w[0,0]
  return dubao

In [62]:
dubao(1,2,2,4,5,6,34,3,2,4,4,2,4)

-64.62356967851429

In [66]:
data.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B-1000', 'LSTAT', 'MEDV'],
      dtype='object')